{
    "feature_table_file": {{ feature_table_file }},
    "sample_metadata_file": {{ sample_metadata_file }},
    "phylogenetic_tree_file" : {{ phylogenetic_tree_file }},
    "max_category_levels": {{ max_category_levels }},
    "min_level_count": {{ min_level_count }},
    "rarefaction_depth_percentile": {{ rarefaction_depth_percentile }},
    "n_components": {{ n_pcoa_components }}
}

