from snakemake.utils import min_version
min_version("6.0")

configfile: "config/config.yaml"

module xebec_workflow:
    snakefile:
        "{{ original_snakefile_path }}"
    config: config

use rule * from xebec_workflow as xebec_*
